/* lato-regular - latin */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* lato-700 - latin */
 @font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 500;
   src: local(''),
        url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* lato-900 - latin */
 @font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   src: local(''),
        url('../fonts/lato-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

 /* common styles start*/

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}


:root {
   --font-color-black: #000000;
   --font-color-white: #FFFFFF;
   --icon-header-color: #ffffff;
   --section-title-color: #102746;
   --link-color: ##006DFE;

}

body {
   font-family: Lato;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   color: var(--font-color-black);

}

 /* common styles end*/

 /* elements styles start*/

a {
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   text-decoration: none;
}

a:hover {
   opacity: 0.5;
}

.container {
   width: 1264px;
   margin: 0 auto;
}

/* elements styles end*/

/* header styles start*/

.header-container {
   height: 87px;
   width: 1262px;
   position: fixed;
   top: 0;
   left: 0;
   margin: auto;
   display: flex;
   justify-content: space-between;
   
   padding: 56px 189px 0 191px;
}
   

.logo-icon {
   height: 31px;
   width: 82px;
   fill:var(--icon-header-color);
}

.nav {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding-top: 6px;
}

.nav-item {
   margin: 0 41px;
   list-style: none;
}
.nav-item a {
   color: var(--font-color-white);
}

.nav-item a:visited {
   color: var(--font-color-white);
}

.nav-item:last-child {
   margin-right: 0;
}

/* header styles end*/

/* intro styles start*/

.intro {
   height: 962px;
   background: url('../img/intro-bg.jpg') center center/cover no-repeat;
}

.intro-wrapper {
   padding: 263px 274px 0 102px;
}

.intro-title {
   width: 619px;
   font-size: 49px;
   font-weight: 500;
   line-height: 60px;
   color: var(--font-color-white);
   margin: 0;
}

.intro-text {
   width: 546px;
   line-height: 24px;
   margin-top: 22px;
   color: var(--font-color-white);
}

.header-form__wrapper {
   display: flex;
   flex-wrap: wrap;
}

.header-form__input {
   background: transparent url('../img/svg/Oval.svg') left 6px no-repeat;
   background-size: 20px;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
   color: var(--font-color-white);
   border: none;
   border-bottom: 2px solid #BFC0C5;
   width: 296px;
   padding-left: 43px;
   padding-bottom: 22px;
   margin-right: 60px;

}

.header-form__input::placeholder {
   color: var(--font-color-white);
}

.header-form__input:focus-visible {
   border: none;
   border-bottom: 2px solid #BFC0C5;
}

.header-form__btn {
   height: 58px;
   width: 171px;
   border: none;
   background-color: #1B7DFF;
   font-family: Lato;
   font-size: 24px;
   font-weight: 500;
   color: var(--font-color-white);
   text-transform: uppercase;
   padding: 14px 0;
}

.header-form__btn:focus,
.header-form__btn:hover,
.header-form__btn:active {
   background-color: #0360db;
}
/* intro styles end*/

/* benefits styles start*/
.container.benefits {
   padding: 66px 97px 111px;
   margin-top: -223px;
   background-color: #fff;
   box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits_title {
   font-family: Lato;
   font-size: 35px;
   font-style: normal;
   font-weight: 500;
   line-height: 42px;
   letter-spacing: 0px;
   text-align: left;
   color: var(--section-title-color);
   margin-bottom: 116px;
}

.benefits-item_wrapper {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   
}

.benefits_item {
   width: 317px;
   height: 288px;
}

.benefits-item_img {
   width: 66px;
   height: 66px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 37px;
}

.benefits-item_title {
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
   margin-bottom: 26px;
}

.benefits-item_descr {
   line-height: 24px;
   margin-bottom: 39px;
}

.benefit-item_link a, .arrow-right {
   line-height: 24px;
   color: var(--link-color);
   text-transform: uppercase;
}

.benefit-item_link a:visited, .arrow-right:visited {
   color: var(--link-color);
}

.arrow-right {
   margin-left: 26px;
}

/* benefits styles end*/

/* inspiration styles start */

.inspiration_title {
   font-size: 35px;
   font-weight: 500;
   line-height: 62px;
   color: #102746;
}

.inspiration_title:after {
   display: block;
   content: "";
   width: 252px;
   height: 2px;
   background-color: #006DFE;
}

.inspiration_title-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.inspiration_cards_wrap {
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 10px;
}