@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900);

html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   font-family: Lato;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0px;
   margin: 0;
}

a {
   text-decoration: none;
}

a:hover {
   opacity: 0.75;
   cursor: pointer;
   transition: 0.2s;
}

a:visited {
   color: inherit;
}

li {
   list-style-type: none;
}

._container {
   width: 1100px;
   margin: 0 auto;
}

._block {
   width: 1316px;
   margin: 0 auto;
}


/* -------------------------HEADER------------------------------------------ */

.header__block {
   position: relative;
}

.header__container {
   height: 148px;
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   margin: 0 auto;
   z-index: 50;
}

.header__logo svg{
   width: 82px;
   height: 31px;
   fill: #FFFFFF;
}
.header__menu {
   display: flex;

}
.menu > *:not(:first-child){
   margin: 0 0 0 82px;
}

.menu__item a{
   font-size: 18px;
   font-style: normal;
   color: #FFFFFF;
}


/* ------------------------INTRO------------------------------------------------ */

.intro {
   height: 962px;
   background: url('../img/intro-bg.jpg') center center no-repeat;
   background-size: cover;
   /* background-color:rgba(16, 39, 70, 1); */
   width: 100%;
}
.intro__container {
   padding: 263px 0 0 111px;
}
.intro__headings {
   width: 100%;

}
.intro__header {
   font-size: 50px;
   font-weight: 500;
   line-height: 1.2;
   color: #FFFFFF;
   width: 619px;
   margin-bottom: 22px;

}
.intro__subheader {
  line-height: 150%;
  color: #FFFFFF;
  width: 546px;
  margin-bottom: 59px;

}
.intro__buttons {
   display: flex;
}
.intro__form {
   display: flex;
   flex-wrap: wrap;
}
.form {
   background-color: transparent;
   width: 297px;
   height: 49px;
   background: url('../img/svg/Oval.svg') left center no-repeat;
   background-size: 20px;
   padding: 0 0 0 43px;
   border: none;
   border-bottom: 2px solid #BFC0C5;;
}

.intro__form {
   display: block;
   margin: 0 61px 15px 0;
   color: #ffffff;
}

.intro__form:focus-visible {
   border: none;
   border: 2px solid #000000;
}

.intro__form:last-child {
   margin-right: 0;
}


.form::placeholder {
   font-size: 18px;
   font-weight: 500;
   line-height: 1.33;
   color: #FFFFFF;
}

.button {
   width: 171px;
   height: 58px;
   background: #1B7DFF;
   border: none;
   font-size: 24px;
   font-weight: 500;
   line-height: 1.21;
   color: #FFFFFF;
   text-align: center;
}


/* ------------------------BENEFITS------------------------------------------------ */


.benefits {
   height: 655px;
}
.benefits__block {
   width: 1276px;
   margin-top: -227px;
   background: #FFFFFF;
   box-shadow: 0px 2px 20px 0px #15182429;

}
.benefits__container {
   padding: 93px 100px 111px 100px;
}
.benefits__header {
   font-size: 35px;
   font-weight: 500;
   line-height: 1.2;
   color: #102746;
   margin-bottom: 92px;
}
.benefit__cards {
   display: flex;
   justify-content: center;
   flex: 1 1 33,33%;
}

.cards__img {
   width: 66px;
   margin-bottom: 37px;
}
.cards__header {   
   font-size: 18px;
   font-weight: 500;
   line-height: 1.33;
   margin-bottom: 26px;
}

.cards__text {   
   line-height: 1.5;
   width: 317px;
   margin-bottom: 39px;
}
.cards__more {
   width: 162px;
}

.link-more {
   background: url('../img/svg/arrow-right.svg') right center no-repeat;
   height: 24px;
   color: #006DFE;
}

.cards__link {
   display: block;
   width: 100%;
}



/* ------------------------INSPIRATION------------------------------------------------ */
.inspiration {
   height: 938px;
}
.inspiration__block {
   padding: 135px 20px 0;
}
.inspiration__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.inspiration__header {
   margin-bottom: 36px;
}
.header {
   font-size: 35px;
   font-weight: 500;
   line-height: 1.2;
   color: #102746;
}
.header::after {
   content: "";
   display: block;
   border: 2px solid #006DFE;
   margin-top: 7px;
   width: 253px;
}
.inspiration__link {
   width: 131px;
}

.inspiration__link a {
   display: block;
   width: 100%;
}

.inspiration__wrapper {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.inspiration__card_large {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}
.inspiration-cards {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.inspiration-cards__item {
   position: relative;
   overflow: hidden;
}

.inspiration__card_large > .inspiration-cards__item {
   width: 628px;
   height: 354px;
}

.inspiration-cards__item img {
   width: 100%;
   height: 100%;
}

.inspiration-cards__item img:hover {
   transform: scale(1.2);
}

.cards-item__descr {
   position: absolute;
   bottom: 27px;
   left: 29px;
   z-index: 10;
   font-size: 50px;
   font-weight: 700;
   line-height: 1.2;
   color: #FFFFFF;
}
.inspiration__card_small > .inspiration-cards__item {
   width: 415px;
   height: 283px;
}


/* ------------------------VIEW------------------------------------------------ */


.view {
   height: 917px;
}
.view__block {
   padding: 55px 20px 69px;
   display: flex;
   flex-direction: column;
   gap: 77px;
}

.item {
   width: 1224px;
   height: 354px;
   display: flex;
   gap: 108px;
}

.item-reverse > .text {
   order: 1;
}

.item-reverse > .item__img {
   order: 2;
}
/* .item-reverse > text {
   order: 5;
} */
.item__img {
   width: 597px;
   height: 354px;
}
.item__text {
   padding: 15px 0;
}
.text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.text__header {
   font-size: 30px;
   font-weight: 500;
   line-height: 1.33;
   width: 358px;
}

.text__link {
   width: 203px;
}

.text__link a {
   display: block;
   width: 100%;
}


/* ------------------------TOP------------------------------------------------ */
.top {
   height: 1512px;
}

.top__block {
   padding: 70px 20px 144px;
   
}

.top__header {
   margin-bottom: 64px;
}
.top__wrapper {
   display: flex;
   flex-wrap: wrap;
   gap: 52px;
}

.place__elem {
   width: 30.33%;
}
.place-elem__link {
   display: block;
   position: relative;
   margin-bottom: 45px;
}
.place-elem__img {
   display: block;
   width: 386px;
   height: 377px;
 /*   position: relative; */
}
.place-elem__title {
 /*   position: absolute;
   bottom: 0;
   z-index: 10; */
   background-color: rgba(21, 24, 36, 0.6);
   height: 55px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 15px 25px;
   position: absolute;
   bottom: 0;
   z-index: 15;

}
.title__header {
   color: #ffffff;
}
.title__block {
   color: #ffffff;
   display: flex;
   height: 24px;
   align-items: center;
   gap: 14px;

}
.title__likes {
   display: flex;
   height: 24px;
   align-items: center;
   gap: 4px;
   font-size: 16px;
}

.title__messages {
   display: flex;
   height: 24px;
   align-items: center;
   gap: 9px;
   font-size: 16px;
}
.title__likes img {
   width: 16px;
   height: 16px;
}

.place-elem__descr {
   width: 391px;
   line-height: 1.5;
   color: rgba(16, 39, 70, 1);
   margin-bottom: 31px;
}

.link-btn {
   display: block;
   height: 42px;
   width: 118px;
   border-radius: 0px;
   background-color: #006DFE;
   line-height: 42px;
   text-align: center;
}

.link-btn a {
   color: #ffffff;
}

/* ------------------------VIDEO------------------------------------------------ */
.video {
   height: 609px;
   width: 1440px;
   margin: 0 auto;
}
.video__content {
 /*   width: 100%;
   line-height: 609px;
   margin: 0 auto; */
   position: relative;
}
.video_btn {
   fill: #FFFFFF;
   position: absolute;
   z-index: 10;
}

/* ------------------------FOOTER------------------------------------------------ */

.footer {
   height: 370px;
   background-color: #0E1D28;

}

.footer__container {
   width: 1440px;
   margin: 0 auto;
   padding: 119px 167px 118px 194px;
   display: flex;
   justify-content: space-between;
}

.footer__logo svg{
   width: 170px;
   height: 64px;
   fill: #FFFFFF;

}
.footer__wrapper {
   display: flex;
   gap: 139px;
}

.column__wrapper {
   height: 134px;
   display: flex;
   flex-direction: column;
   justify-content: space-between
}
.column__item {
   color: #ffffff;
}

.column__item:first-child {
   font-size: 18px;
   font-weight: 500;
   line-height: 1.33;
}